.forecast {
    position: fixed;
    bottom: 0;
    background: pink;
    left: 0;
    right: 0; 
    display: flex;
    justify-content: space-evenly;
}

.forecast-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.forecast-card .mdi {
    font-size: 32px;
}