.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background: pink;
    position: relative;
}

.header .mdi {
    font-size: 28px;
}

.header .mdi-settings {
    cursor: pointer;
}

.header-settings {
    position: absolute;
    background: white;
    display: flex;
    flex-direction: column;
    right: 1rem;
    top: 4rem;
    padding: 2rem;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
}