.weather-display {
    background: coral;
    height: 85vh;
    padding: 0.5rem 1rem;
}

.weather-display-wrapper {
    max-width: 320px;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
}

.weather-display--icon {
    font-size: 50px;
}

.weather-stats {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 150px;
}

.weather-stat {
    display: flex;
    flex-direction: column;
}

.weather-stat-icon {
    font-size: 24px;
}

.weather-stat-text {
    font-size: 12px;
}

.location-box {
    display: flex;
    max-width: 200px;
}

.location-box button,
.location-box input {
    background: inherit;
    font-size: inherit;
    padding: 0.8rem 1.2rem;
    margin: 0.8rem 0 0;
    border: 2px solid #333;
}

.location-box input {
    outline: none;
}

.location-box button {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.location-box button:hover {
    background: #333;
    color: coral;
}